.hidden {
    display: none !important;
}
.alert.alert-custom {
    display: block;
}

.fit {
    width:1px;
}

.nowrap {
    white-space: nowrap;
}

.serial-column,
.action-column {
    width:1px !important;
    white-space: nowrap !important;
}

.form-group label {
    font-weight: 600;
}

#modal-universe-full .modal-footer,
#modal-universe-xlarge .modal-footer,
#modal-universe-large .modal-footer,
#modal-universe-small .modal-footer,
#modal-universe .modal-footer {
    margin: 35px -22px -22px -22px !important;
    background: #fafafa;
}
.modal-content {
    overflow: hidden;
}
.modal-backdrop
{
    opacity:0.5 !important;
}

@media (min-width: 992px) {
    .modal-full {
        max-width: 95%;
    }
}

@media (min-width: 1280px) {
    .modal-full {
        max-width: 90%;
    }
}




.table-responsive {
    border-radius: 0.42rem !important;
    background: #fff;
    margin-bottom: 1rem;
}
.rc-handle-container {
    overflow-x: auto;
}
.kv-grid-table {
    margin-bottom: 0;
}
.toolbar span,
.toolbar input,
.toolbar a.btn,
.toolbar button {
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0.2rem;
}
.toolbar.right span,
.toolbar.right input,
.toolbar.right a.btn,
.toolbar.right button {
    margin-left: 0.2rem;
    margin-right: 0;
}
.btn-summary {
    padding: 0.65rem 1rem;
    line-height: 1.5;
}
.card .table.detail-view {
    margin-bottom: 0;
    margin-top: -1px;
}
.card {
    overflow: hidden;
    margin-bottom: 1rem;
}
.detail-view th {
    width: 20rem;
    white-space: nowrap;
    background-color: #F3F6F9;
}
.btn.btn-xs {
    height: 20px;
}
.btn.btn-icon.btn-xs {
    height: 20px;
    width: 22px;
}
.btn.btn-xs i {
    font-size: 0.8rem;
}
.text-mono {
    font-family: Courier, monospace;
}

.select2-selection__rendered {
    font-weight: 400;
}
.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    border: 1px solid #E4E6EF !important;
    outline: none !important;
    border-radius: 0.42rem !important;
    height: auto !important;
    line-height: 0 !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    width: 100% !important;
    color: #3F4254 !important;
    position: relative !important;
    padding: 0.65rem 3rem 0.65rem 1rem !important;
    line-height: 1.5 !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow, .select2-container--default .select2-selection--multiple .select2-selection__arrow {
    border: 0 !important;
    margin-left: 0.5rem !important;
    font-size: 0.85rem !important;
    left: auto !important;
    right: 0 !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    position: static !important;
    width: auto !important;
    height: 20px !important;
    margin-right: 1rem !important;
}

.error-summary ul {
    padding:0;
    margin:0;
    list-style: none;
    font-size: 80% !important;
}
.invalid-feedback {
    font-size: 80% !important;
}

.kv-loader-overlay {
    z-index: 9999;
}

@media (min-width: 576px) {
    .modal-dialog.modal-full {
        max-width: 95%;
    }
}

.was-validated .form-control:valid, .form-control.is-valid {
    background-image: none !important;
}
.was-validated .form-control:invalid, .form-control.is-invalid {
    background-image: none !important;
}

select.is-invalid + .select2-container--default .select2-selection--single {
    border-color: #F64E60 !important;
}
select.is-valid + .select2-container--default .select2-selection--single {
    border-color: #1BC5BD !important;
}

.bootstrap-dialog .bootstrap-dialog-message {
    font-size: 13px !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #E4E6EF !important;
}

.date .switch {
    display: table-cell !important;
}
.datetimepicker .switch {
    display: table-cell !important;
}
.select2-container--default .select2-results__options {
    padding: 0 0;
}

.custom-radio label,
.checkbox-label {
    font-weight: normal !important;
}